/*

    2. Determinar las reglas CSS necesarias para mostrar la siguiente tabla con el aspecto 
    final mostrado en la imagen (modificar el código HTML que se considere necesario 
    añadiendo los atributos class oportunos).

    Tabla original:

    Tabla final:

    Pasos a hacer: 
    a) Alinear el texto de las celdas, cabeceras y título. Definir los bordes de la tabla, 
    celdas y cabeceras (color gris oscuro #333).
    b) Formatear las cabeceras de fila y columna con la imagen de fondo 
    correspondiente en cada caso
    (fondo_gris.gif, euro.png, dolar.png, yen.png, libra.png). Modificar el tipo de letra 
    de la tabla y utilizar Arial. El color azul claro es #E6F3FF.
    c) Mostrar un color alterno en las filas de datos (color amarillo claro #FFFFCC).

    Nota: el código para este ejercicio se encuentra en GitHub o Moodle.

*/

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

table {
    margin: 1%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #333;
}

td {
    background-color: #FFFFCC;
}

#columnaAtributos {
    background-color: rgb(191, 136, 243);
}

#valorFila {
    text-align: center;
    background-color: rgb(130, 130, 231);
}

.euro {
    background-image: url("imagenes/euro.png");
    background-repeat: no-repeat;
    background-position: 25%;
}

.dolar {
    background-image: url("imagenes/dolar.png");
    background-repeat: no-repeat;
    background-position: 25%;
}

.libra {
    background-image: url("imagenes/libra.png");
    background-repeat: no-repeat;
    background-position: 25%;
}

.yen {
    background-image: url("imagenes/yen.png");
    background-repeat: no-repeat;
    background-position: 25%;
}